@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
}

.toc__menu a {
    color: #000000;
}

.post__title {
    color: #8a2be2;
}

.main__title {
    color: #8a2be2;
}

.MathJax_Display {
    overflow-x: auto;
    overflow-y: hidden;
}
